body{font-family: Arial; background-color: #747474 !important;}

.table-orange{
    background-color: #d05f4c;
    border-color: #d05f4c !important;
    color: white;
}
.title{
    font-size: 2rem;
}
.title-2{
    font-size: 1.2rem;
}
.bg-mensaje{
    background-color: #7ba383 !important;
}
.text-table{
    color: #455258 !important;
}
.text_blue{
    color: #507897 !important;
}
.bg-blue{
    background-color: #507897 !important;
}
.bg-yellow{
    background-color: #ffd24c !important;
}
.bg-red{
    background-color: 	#d77f6f !important;
}